doctype html

html(lang="ru")

  head
    title gulp-frontend
    link(rel='stylesheet', href='./css/main.css')
  body

    include template/header
    include template/index
    include template/footer
    script(src="./js/main.js")